# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories and files
.next/
out/
dist/
build/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other files and directories
.vscode/
.DS_Store
.idea/
*.log

# Specific for MacOS
*.DS_Store

# Specific for Windows
Thumbs.db
ehthumbs.db

# Specific for Linux
*~

# Ignore all hidden files in the root directory
.*

# Exclude the .gitignore file itself
!.gitignore
